	<!-- content -->
	<header>
		<div class="main-head">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="flex-slide" class="flexslider flex-control">
							<ul class="slides">
								%slidehome%
							</ul>
						</div><!-- flexslider -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
			</div><!--end main slider-->
		</div><!-- end main head -->
	</header>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <div>
	                    &nbsp;
	                </div><!-- end build -->
	            </div><!-- end col -->
	        </div><!-- end row -->
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="build title-page hidding animated" data-animated="bounceInUp">
	                    <h2 class="color-a">Quem Somos</h2>
	                </div><!-- end build -->
	            </div><!-- end col -->
	        </div><!-- end row -->
	        <div class="row">
	            <div class="col-md-6 col-lg-6 hidding animated delay2" data-animated="zoomInDown">
	                <div class="build stuff">
	                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. </p>
	                    <p class="blur">Phasellus sollicitudin ante eros ornare, <strong>sit amet luctus lorem semper</strong>. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum</p>
	                </div><!-- end build -->
	            </div><!-- end col -->
	            <div class="col-md-6 col-lg-6">
	                <div class="build stuff clearfix">
	                    %redes%
	                </div><!-- end build -->
	            </div><!-- end col -->
	        </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="clientes">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInRight">
					<div class="build title-page text-left">
						<h2 class="color-a">Nossos Clientes</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				%clientes%
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page-color" id="work">
		<div class="row">
		   <div class="col-lg-12">
			   <div>
				   &nbsp;
			   </div><!-- end build -->
		   </div><!-- end col -->
		</div><!-- end row -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page">
						<h2 class="color-a">Nosso Trabalho</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->

			<div class="row">
				%trabalho%
				<div class="col-lg-12">
					<!-- <div class="build text-center">
						<a href="#" class="btn btn-clear btn-lg" id="loadMore">SHOW ME MORE</a>
						<a href="#" class="btn btn-clear btn-lg" id="showLess">SHOW LESS</a>
					</div> -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="service">
		<div class="container">
			<div class="row">
			   <div class="col-lg-12">
				   <div>
					   &nbsp;
				   </div><!-- end build -->
			   </div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">Serviços Prestados</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				%servicos%
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="contact">
		<div class="container">
			<div class="row">
			   <div class="col-lg-12">
				   <div>
					   &nbsp;
				   </div><!-- end build -->
			   </div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">Contato</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6 hidding animated" data-animated="bounceInDown">
						<div class="build contact">
							<h3>Telefone(s)</h3>
							<p><i class="fa fa-phone"></i> (31) 9 9428-6577 (Whatsapp)</p>
							<p></p>
							<h3>Localização</h3>
							<p><i class="fa fa-maps"></i> Rua exemplo, N° 1234 - Bairro-Exemplo | BH - MG</p>
						</div><!-- end build -->
					</div><!-- end col -->
					<div class="col-md-6 col-lg-6 hidding animated delay2" data-animated="bounceInRight">
						<div class="row">
						   <div class="col-lg-12">
							   <div>
								   <br />
							   </div><!-- end build -->
						   </div><!-- end col -->
						</div><!-- end row -->
						<div class="build contact contact-form">
							<form style="margin-top: 14px;" class="form-inline" role="form" method="post">
								<div class="form-group">
									<label><strong>Seu nome</strong></label>
									<input type="text" class="form-control" name="nome" />
								</div>
								<div class="form-group">
									<label><strong>Email ou Telefone</strong></label>
									<input type="text" class="form-control" name="contato">
								</div>
								<label><strong>Mensagem</strong></label>
								<textarea class="form-control" name="mensagem" rows="8" placeholder="Máximo de 300 caracteres." maxlength="300"></textarea>
								<button type="submit" class="btn btn-primary btn-lg">Enviar Mensagem</button>
							</form>
						</div><!-- end build -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
	</section>
	<!-- end content -->
