	<!-- content -->
	<header>
		<div class="main-head">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="flex-slide" class="flexslider flex-control">
							<ul class="slides">
								<!-- <li>
									<h1 class="delay1 animated showAnimet" data-animated-in="fadeInRight" data-animated-out="fadeOutRight">WELCOME TO OUR MARKETPLCAE</h1>
									<p class="delay3 animated showAnimet" data-animated-in="bounceInRight" data-animated-out="bounceOutRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor <br />
	non, ornare sagittis dolor. Nulla vestibulu lacus ...</p>
									<a href="#" class="btn btn-clear btn-lg delay5 animated showAnimet aboutMore" data-animated-in="fadeInRight" data-animated-out="fadeOutRight">VIEW MORE</a>
									<a href="#" class="btn btn-clear btn-lg delay7 animated showAnimet" data-animated-in="fadeInRight" data-animated-out="fadeOutRight">VIDEO TOUR</a>
								</li> -->
								%slidehome%
							</ul>
						</div><!-- flexslider -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
			</div><!--end main slider-->
		</div><!-- end main head -->
	</header>
	<!-- end content -->
	%sobrenos%
	<!-- content -->
	<section class="page" id="clientes">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInRight">
					<div class="build title-page text-left">
						<h2 class="color-a">Alguns Clientes</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-md-3 col-lg-3 hidding animated delay1" data-animated="bounceInRight">
					<div class="build team">
						<div class="team-pict">
							<div class="hcaption">
							<div class="myToggle"></div>
                            <div class="attr-icon">
                                <div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<ul class="list-inline team-social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
                            </div>
								<img src="img/team/team1.jpg" alt="sitename" />
							</div>
						</div>
						<div class="team-attr">
							<h3>GLORIA BROMLEY</h3>
							<p>CEO and Founder</p>
						</div>
					</div><!-- end build -->
				</div><!-- end col -->
				<div class="col-md-3 col-lg-3 hidding animated delay3" data-animated="bounceInRight">
					<div class="build team">
						<div class="team-pict">
							<div class="hcaption">
							<div class="myToggle"></div>
                            <div class="attr-icon">
                                <div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<ul class="list-inline team-social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
                            </div>
								<img src="img/team/team2.jpg" alt="sitename" />
							</div>
						</div>
						<div class="team-attr">
							<h3>PAUL TORRES</h3>
							<p>Head of Development</p>
						</div>
					</div><!-- end build -->
				</div><!-- end col -->
				<div class="col-md-3 col-lg-3 hidding animated delay5" data-animated="bounceInRight">
					<div class="build team">
						<div class="team-pict">
							<div class="hcaption">
							<div class="myToggle"></div>
                            <div class="attr-icon">
                                <div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<ul class="list-inline team-social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
                            </div>
								<img src="img/team/team3.jpg" alt="sitename" />
							</div>
						</div>
						<div class="team-attr">
							<h3>JUDITH GILLETTE</h3>
							<p>Graphic Designer</p>
						</div>
					</div><!-- end build -->
				</div><!-- end col -->
				<div class="col-md-3 col-lg-3 hidding animated delay7" data-animated="bounceInRight">
					<div class="build team">
						<div class="team-pict">
							<div class="hcaption">
							<div class="myToggle"></div>
                            <div class="attr-icon">
                                <div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<ul class="list-inline team-social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
                            </div>
								<img src="img/team/team4.jpg" alt="sitename" />
							</div>
						</div>
						<div class="team-attr">
							<h3>DELORES REED</h3>
							<p>Client Service Director</p>
						</div>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page-color" id="work">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page">
						<h2 class="color-a">LOVELY WORK</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f1.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f2.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f3.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f4.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f5.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f6.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f1.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f2.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f3.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f4.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f5.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 hidding animated delay1 mywork" data-animated="bounceInUp">
					<div class="build">
					<div class="folio">
						<div class="hcaption">
						   <div class="myToggle"></div>
							<div class="attr-icon">
								<div class="caption animated onHover" data-animatedin="zoomInUp" data-animatedout="zoomOutDown">
									<a href="#"><span class="fa fa-plus fa-2x"></span></a>
								</div>
							</div>
							<div class="attr-cap">
								<div class="main-cap animated onHoverCap" data-animatedin="fadeInUp" data-animatedout="fadeOutDown">
									<h3>PARTNERSHIP GUIDLINES</h3>
								</div>
							</div>
						<img src="img/portfolio/f6.jpg" alt="folio">
						</div>
					</div>
					</div>
				</div><!-- end col -->
				<div class="col-lg-12">
					<div class="build text-center">
						<a href="#" class="btn btn-clear btn-lg" id="loadMore">SHOW ME MORE</a>
						<a href="#" class="btn btn-clear btn-lg" id="showLess">SHOW LESS</a>
					</div>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="service">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">WHAT WE DO</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-gears fa-4x color-a"></i>
						<h3>EASY THEME SETUP</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay1" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-pencil fa-4x color-a"></i>
						<h3>PIXEL PERFECT DESIGN</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay2" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-mobile fa-4x color-a"></i>
						<h3>RESPONSIVE DISPLAY</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay3" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-clock-o fa-4x color-a"></i>
						<h3>R24/7 SUPPORT</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay4" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-gears fa-4x color-a"></i>
						<h3>EASY THEME SETUP</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay5" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-pencil fa-4x color-a"></i>
						<h3>PIXEL PERFECT DESIGN</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay6" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-mobile fa-4x color-a"></i>
						<h3>RESPONSIVE DISPLAY</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 hidding animated delay7" data-animated="bounceInUp">
					<div class="build service text-center">
						<i class="fa fa-clock-o fa-4x color-a"></i>
						<h3>R24/7 SUPPORT</h3>
						<p>Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
					</div><!-- end builder -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page-color" id="feature">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">FEATURES</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 hidding animated" data-animated="bounceInUp">
					<div class="build feature">
						<div class="faeture-img">
							<img src="img/feat1.jpg" alt="sitename" />
						</div>
						<h3>PRODUCT DESIGN: EMES CHAIRS</h3>
						<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
					</div><!-- end build -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 hidding animated delay2" data-animated="bounceInUp">
					<div class="build feature">
						<div class="faeture-img">
							<img src="img/feat2.jpg" alt="sitename" />
						</div>
						<h3>ELEGANT AND COLORFUL LOGOS</h3>
						<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
					</div><!-- end build -->
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 hidding animated delay4" data-animated="bounceInUp">
					<div class="build feature">
						<div class="faeture-img">
							<img src="img/feat3.jpg" alt="sitename" />
						</div>
						<h3>A SHOWCASE OF CREATIVE</h3>
						<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">STAY IN TOUCH</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6 hidding animated" data-animated="bounceInUp">
						<div class="build contact">
							<h3>CONTACT INFORMATION</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique nec dolor non, ornare sagittis dolor. Nulla vestibulum lacus sed molestie gravida.</p>
							<p>Cras fermentum elit quis magna congue, <strong>vel sodales</strong> arcu vestibulum. Nunc lobortis dui magna, quis dapibus lacus </p>
						</div><!-- end build -->
					</div><!-- end col -->
					<div class="col-md-6 col-lg-6 hidding animated delay2" data-animated="bounceInUp">
						<div class="build contact contact-form">
							<form class="form-inline" role="form">
								<div class="form-group">
								<label for="InputName">Password</label>
								<input type="text" class="form-control" id="InputName" >
								</div>
								<div class="form-group">
								<label for="nputEmail">Your Email</label>
								<input type="email" class="form-control" id="nputEmail">
								</div>
								<label for="InputMessage">Your Message</label>
								<textarea class="form-control" rows="8"></textarea>
								<button type="submit" class="btn btn-link bg-a btn-lg">SEND MESSAGE</button>
							</form>
						</div><!-- end build -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
	</section>
	<!-- end content -->
