	<!-- content -->
	<header class="hidden-sm hidden-xs">
		<div class="main-head">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="flex-slide" class="flexslider flex-control">
							<ul class="slides">
								%slidehome%
							</ul>
						</div><!-- flexslider -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
			</div><!--end main slider-->
		</div><!-- end main head -->
	</header>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <div>
	                    &nbsp;
	                </div><!-- end build -->
	            </div><!-- end col -->
	        </div><!-- end row -->
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="build title-page hidding animated" data-animated="bounceInUp">
	                    <h2 class="color-a">Quem Somos</h2>
	                </div><!-- end build -->
	            </div><!-- end col -->
	        </div><!-- end row -->
	        <div class="row">
	            <div class="col-md-6 col-lg-6 hidding animated delay2" data-animated="zoomInDown">
	                <div class="build stuff">
	                    <p>A JD Elétrica é uma empresa especializada em Elétrica Residencial e predial, Comandos elétricos, assistência em bombas, Sistema solar e Sistema Fotovoltaico. A empresa nasceu em Belo horizonte por dois amigos sendo eles diretor comercial Diego Santos, e o diretor técnico Jonas Moline, onde ambos viram uma grande oportunidade entregar um serviço com qualidade e satisfação aos seus clientes, a marca da JD é justamente satisfação a todos solicitante dos seus serviços. Hoje a sede da empresa está na região da Pampulha em Belo Horizonte, e a oficina técnica se encontra região do São Gabriel.</p>
	                </div><!-- end build -->
	            </div><!-- end col -->
	            <div class="col-md-6 col-lg-6">
	                <div class="build stuff clearfix">
	                    %redes%
	                </div><!-- end build -->
	            </div><!-- end col -->
	        </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="clientes">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInRight">
					<div class="build title-page text-left">
						<h2 class="color-a">Nossos Clientes</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				%clientes%
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page-color" id="work">
		<div class="row">
		   <div class="col-lg-12">
			   <div>
				   &nbsp;
			   </div><!-- end build -->
		   </div><!-- end col -->
		</div><!-- end row -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page">
						<h2 class="color-a">Nosso Trabalho</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->

			<div class="row">
				%trabalho%
				<div class="col-lg-12">
					<!-- <div class="build text-center">
						<a href="#" class="btn btn-clear btn-lg" id="loadMore">SHOW ME MORE</a>
						<a href="#" class="btn btn-clear btn-lg" id="showLess">SHOW LESS</a>
					</div> -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="service">
		<div class="container">
			<div class="row">
			   <div class="col-lg-12">
				   <div>
					   &nbsp;
				   </div><!-- end build -->
			   </div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">Serviços Prestados</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				%servicos%
			</div><!-- end row -->
		</div><!-- end container -->
	</section>
	<!-- end content -->

	<!-- content -->
	<section class="page" id="contact">
		<div class="container">
			<div class="row">
			   <div class="col-lg-12">
				   <div>
					   &nbsp;
				   </div><!-- end build -->
			   </div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col-lg-12 hidding animated" data-animated="bounceInUp">
					<div class="build title-page text-left">
						<h2 class="color-a">Contato</h2>
					</div><!-- end build -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6 hidding animated" data-animated="bounceInDown">
						<div class="build contact">
							<h3>Telefone(s)</h3>
							<p><a href="https://whats.link/jdeletrica"><i class="fa fa-phone"></i> (31) 9 9428-6577 (Whatsapp)</a></p>
							<p><a href="tel:983400652"><i class="fa fa-phone"></i> (31) 9 8340-0652</a></p>
							<p><a href="mailto:contato.jdeletrica@outlook.com"><i class="fa fa-envelope"></i> contato.jdeletrica@outlook.com</p>
							<p></p>
							<!--h3>Localização</h3>
							<p><i class="fa fa-maps"></i> Rua exemplo, N° 1234 - Bairro-Exemplo | BH - MG</p-->
						</div><!-- end build -->
					</div><!-- end col -->
					<div class="col-md-6 col-lg-6 hidding animated delay2" data-animated="bounceInRight">
						<div class="build contact contact-form">
							<form class="row" role="form" method="post">
								<div class="col-md-6 col-sm-12" style="margin-top: 20px;">
									<label><strong>Seu nome</strong></label>
									<input type="text" class="form-control" name="nome" />
								</div>

								<div class="col-md-6 col-sm-12" style="margin-top: 20px;">
									<label><strong>Email ou Telefone</strong></label>
									<input type="text" class="form-control" name="contato">
								</div>

								<div class="col-md-12" style="margin-top: 20px;">
									<label><strong>Mensagem</strong></label>
									<textarea class="form-control" name="mensagem" rows="8" placeholder="Máximo de 300 caracteres." maxlength="300"></textarea>
									<button type="submit" class="btn btn-primary btn-lg">Enviar Mensagem</button>
								</div>
							</form>
						</div><!-- end build -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
	</section>
	<!-- end content -->
