<li style="background-color: rgba(0,0,0,.5);padding: calc(12px + 2vw);">
    <h1
        class="delay%titulo-anim-delay% animated showAnimet"
        data-animated-in="%slidehome-anim-in%"
        data-animated-out="%slidehome-anim-out%"
        style="display: block;"
    >
        %titulo-texto%
    </h1>
    <p
        class="delay%texto-anim-delay% animated showAnimet"
        data-animated-in="%slidehome-anim-in%"
        data-animated-out="%slidehome-anim-out%"
        style="display: block;color: #fff;"
    >
        %texto-conteudo%
    </p>
</li>
